# Predicting Repeat Buyers

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
%matplotlib inline

C:\Users\Jared Chung\Anaconda2\lib\site-packages\matplotlib\__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [3]:
train = pd.read_csv("trainHistory.csv", parse_dates =['offerdate'])
test= pd.read_csv("testHistory.csv",parse_dates =['offerdate'])
offer = pd.read_csv("offers.csv")

In [5]:
# Data Reduction Script used from Triskelion 
transactions = pd.read_csv("../transactions/reduced2.csv",parse_dates =['date'])

## Preprocessing Data

In [31]:
merged = pd.merge(train,offer,left_on='offer',right_on='offer',how='left')

In [35]:
def preprocessing(x):
    
    x['year'] = x.offerdate.apply(lambda n: n.year)
    x['month'] = x.offerdate.apply(lambda n: n.month)
    x['week'] = x.offerdate.apply(lambda n: n.week)
    x['dayofweek'] = x.offerdate.apply(lambda n: n.dayofweek)
    return x

In [36]:
merged = preprocessing(merged)

In [34]:
merged.head()

,id,chain,offer,market,repeattrips,repeater,offerdate,category,quantity,company,offervalue,brand
0,86246,205,1208251,34,5,t,2013-04-24,2202,1,104460040,2.00,3718
1,86252,205,1197502,34,16,t,2013-03-27,3203,1,106414464,0.75,13474
2,12682470,18,1197502,11,0,f,2013-03-28,3203,1,106414464,0.75,13474
3,12996040,15,1197502,9,0,f,2013-03-25,3203,1,106414464,0.75,13474
4,13089312,15,1204821,9,0,f,2013-04-01,5619,1,107717272,1.50,102504

In [8]:
transactions.head()

,id,chain,dept,category,company,brand,date,productsize,productmeasure,purchasequantity,purchaseamount
0,86246,205,99,9909,104538848,15343,2012-03-02,16,OZ,1,2.49
1,86246,205,21,2106,105100050,27873,2012-03-02,64,OZ,1,3.29
2,86246,205,26,2630,103700030,14647,2012-03-02,56,CT,1,1.00
3,86246,205,58,5824,108674585,55172,2012-03-02,16,OZ,1,3.29
4,86246,205,26,2634,103700030,3293,2012-03-06,6,RL,1,4.99

In [26]:
x = transactions.groupby(['id','category']).size()
x = pd.DataFrame(x).reset_index()
x.columns = ['id', 'category', 'category'+'_quantity_bought']
x

                 id  category  category_quantity_bought
0             86246       305                         3
1             86246       610                         1
2             86246       703                         1
3             86246       706                         9
4             86246       708                         3
5             86246       803                         1
6             86246       809                         8
7             86246       818                        24
8             86246      1703                        15
9             86246      1704                         2
10            86246      1709                         1
11            86246      1710                         1
12            86246      1726                         4
13            86246      1822                         4
14            86246      1823                         1
15            86246      1827                         6
16            86246      1828                         5
17            86246      1835                        20
18            86246      1836                         2
19            86246      2002                        12
20            86246      2106                         4
21            86246      2118                         1
22            86246      2119                        28
23            86246      2201                         6
24            86246      2210                         5
25            86246      2211                         4
26            86246      2214                         1
27            86246      2403                         1
28            86246      2506                        35
29            86246      2613                         7
...             ...       ...                       ...
6097148  4847628950      2214                         1
6097149  4847628950      2628                         1
6097150  4847628950      2634                         1
6097151  4847628950      2710                         2
6097152  4847628950      3504                         2
6097153  4847628950      3509                         3
6097154  4847628950      3703                         3
6097155  4847628950      3705                         3
6097156  4847628950      3706                         1
6097157  4847628950      4105                         1
6097158  4847628950      4404                         1
6097159  4847628950      5122                         2
6097160  4847628950      5558                         9
6097161  4847628950      5616                         5
6097162  4847628950      5620                         1
6097163  4847628950      5823                         5
6097164  4847628950      5824                         3
6097165  4847628950      6202                         3
6097166  4847628950      6408                         2
6097167  4847628950      7106                         1
6097168  4847628950      7205                         2
6097169  4847628950      9115                         3
6097170  4847628950      9909                        14
6097171  4847787712      2119                         1
6097172  4847787712      2207                         1
6097173  4847787712      3509                         1
6097174  4847787712      3703                         1
6097175  4853460972      2002                         2
6097176  4853598737      5558                         1
6097177  4853598737      5824                         1

[6097178 rows x 3 columns]

In [28]:
pd.merge?

In [33]:
z = pd.merge(merged,x,on=['id','category'],how='left')
z.head()

,id,chain,offer,market,repeattrips,repeater,offerdate,category,quantity,company,offervalue,brand,category_quantity_bought
0,86246,205,1208251,34,5,t,2013-04-24,2202,1,104460040,2.00,3718,NaN
1,86252,205,1197502,34,16,t,2013-03-27,3203,1,106414464,0.75,13474,6
2,12682470,18,1197502,11,0,f,2013-03-28,3203,1,106414464,0.75,13474,1
3,12996040,15,1197502,9,0,f,2013-03-25,3203,1,106414464,0.75,13474,NaN
4,13089312,15,1204821,9,0,f,2013-04-01,5619,1,107717272,1.50,102504,NaN

In [7]:
transactions['year'] = transactions.date.apply(lambda n: n.year)
transactions['month'] = transactions.date.apply(lambda n: n.month)
transactions['week'] = transactions.date.apply(lambda n: n.week)
transactions['dayofweek'] = transactions.date.apply(lambda n: n.dayofweek)

In [16]:
len(train.chain.unique())

130

In [ ]:
# Mode l