# C

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
%matplotlib inline

C:\Users\Jared Chung\Anaconda2\lib\site-packages\matplotlib\__init__.py:872: UserWarning: axes.color_cycle is deprecated and replaced with axes.prop_cycle; please use the latter.
  warnings.warn(self.msg_depr % (key, alt_key))

In [4]:
train = pd.read_csv("trainHistory.csv", parse_dates =['offerdate'])
test= pd.read_csv("testHistory.csv",parse_dates =['offerdate'])
offer = pd.read_csv("offers.csv")

In [6]:
transactions = pd.read_csv("reduced2.csv",parse_dates =['date'])

In [ ]:
transactions.groupby('id',)

In [7]:
transactions['year'] = transactions.date.apply(lambda n: n.year)
transactions['month'] = transactions.date.apply(lambda n: n.month)
transactions['week'] = transactions.date.apply(lambda n: n.week)
transactions['dayofweek'] = transactions.date.apply(lambda n: n.dayofweek)

In [16]:
len(train.chain.unique())

130

In [35]:
merged = pd.merge(train,offer,left_on='offer',right_on='offer',how='left')

In [36]:
merged.head()

,id,chain,offer,market,repeattrips,repeater,offerdate,category,quantity,company,offervalue,brand
0,86246,205,1208251,34,5,t,2013-04-24,2202,1,104460040,2.00,3718
1,86252,205,1197502,34,16,t,2013-03-27,3203,1,106414464,0.75,13474
2,12682470,18,1197502,11,0,f,2013-03-28,3203,1,106414464,0.75,13474
3,12996040,15,1197502,9,0,f,2013-03-25,3203,1,106414464,0.75,13474
4,13089312,15,1204821,9,0,f,2013-04-01,5619,1,107717272,1.50,102504

In [9]:
def preprocessing(x):
    
    x['year'] = x.offerdate.apply(lambda n: n.year)
    x['month'] = x.offerdate.apply(lambda n: n.month)
    x['week'] = x.offerdate.apply(lambda n: n.week)
    x['dayofweek'] = x.offerdate.apply(lambda n: n.dayofweek)
    
    return x

In [8]:
transactions.head()

,id,chain,dept,category,company,brand,date,productsize,productmeasure,purchasequantity,purchaseamount
0,86246,205,99,9909,104538848,15343,2012-03-02,16,OZ,1,2.49
1,86246,205,21,2106,105100050,27873,2012-03-02,64,OZ,1,3.29
2,86246,205,26,2630,103700030,14647,2012-03-02,56,CT,1,1.00
3,86246,205,58,5824,108674585,55172,2012-03-02,16,OZ,1,3.29
4,86246,205,26,2634,103700030,3293,2012-03-06,6,RL,1,4.99

In [42]:
merged = preprocessing(merged)

In [43]:
merged.head()

,id,chain,offer,market,repeattrips,repeater,offerdate,category,quantity,company,offervalue,brand,year,month,week,dayofweek
0,86246,205,1208251,34,5,t,2013-04-24,2202,1,104460040,2.00,3718,2013,4,17,2
1,86252,205,1197502,34,16,t,2013-03-27,3203,1,106414464,0.75,13474,2013,3,13,2
2,12682470,18,1197502,11,0,f,2013-03-28,3203,1,106414464,0.75,13474,2013,3,13,3
3,12996040,15,1197502,9,0,f,2013-03-25,3203,1,106414464,0.75,13474,2013,3,13,0
4,13089312,15,1204821,9,0,f,2013-04-01,5619,1,107717272,1.50,102504,2013,4,14,0

In [2]:
merged.groupby('offer').size().sort_values(ascending=False).plot()

NameError: name 'merged' is not defined